.wapper-for-carousel {
  position: relative;
  padding: 50px 0;
  display: block;
}
.card-movie {
  display: flex;
  align-items: stretch;
}

.btn.active {
  background-color: #3f6a28;
  color: white;
  border-color: #233a2a;
}
